*{
    box-sizing: border-box;
    font-family: "Fira Sans";

}

body {
    margin: 0;
    background-color: rgb(26, 0, 43); /* space blue violet*/

}

#wrapper {
    display: grid;
    grid-template-columns: repeat(4fr 1);
    grid-template-rows: 75px 50px auto 50px;
    grid-template-areas: "header"
    "nav"
    "main"
    "footer";
    max-width: 100vw;
}

header,
footer {
    background-color: rgb(11, 0, 40);
    padding: 10px;
}

header {
    grid-area: header;
}

header h1 {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    
}

nav {
    background-color: rgb(11, 0, 40);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    grid-area: nav;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: underline;
}

nav a:hover {
    color: rgb(83, 30, 97);
    text-decoration: none;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-left: 60px;
}

#cards-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
 }


/*  #cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px;
}*/

.card {
 height: 400px;
 width: 285px;
 background-color: rgb(193, 193, 193);
 border-radius: 15px;
 padding: 10px;
 transition: background-color 0.3s, border-color 0.3s;
}

#cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.card:hover {
    background-color: rgb(153, 153, 153); /* Change background color on hover */
    border-color: #555; /* Change border color on hover */
}

.card-rotate {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    opacity: 0;
    z-index: -1;
    transform: rotateY(180deg);
}

.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    backface-visibility: hidden;
}

.card-content {
    display: grid;
    height: 380px;
    width: 265px;
    border: 3px solid #222;
    border-radius: 12px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 6fr 2fr 6fr;
    grid-template-areas:
        "number title title title"
        "image image image image"
        "info-icon info info info"
        "stat stat stat stat";
    transition: transform 0.3s;
    backface-visibility: hidden;
    padding-bottom: 8px;
}

.card:hover .card-content {
    transform: scale(1.05); /* Scale the card content on hover */
}

.card-rotate .card-content {
    transform: rotateY(180deg);
    display: none;

}

.card-rotate .card-back {
    opacity: 1; /* Show when card is rotated */
    visibility: visible; /* Show when card is rotated */
    transition: opacity 0.5s, visibility 0s; }

/*.card-content {
    border: 3px solid #222;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr 1fr;
}*/

.card-number {
    grid-area: number;
    background-color: rgb(26, 0, 43);
    color: white;
    border-top-left-radius: 9px;
    font-size: 20px;
    font-weight: 800;
    border-right: 3px solid #222;
}

.card-title {
    grid-area: title;
    text-transform: uppercase;
    font-weight: 800;
    padding-left: 5px;
}

/*.card-title {
    grid-column: span 3;
}*/

.card-title,
.card-title {
    margin: 0;
    padding: 0;
}

.card-name{
    font-size: 16px;
    font-weight: 800;
}

.card-group{
    font-size: 14px;
    font-weight: 500;
}

.rocket-image {
    border-top: 3px solid #222;
    border-bottom: 3px solid #222;
    grid-area: image;
    padding: 3px;
}

.rocket-image img {
    width: 100%;
    border-radius: 0px;
    height: 170px;
    object-fit: cover;
}

/*.rocket-image {
    grid-column: span 4;
    max-width: 100%;
    max-height: 170px;
}

.rocket-image img {
    object-fit: cover;
    height: 200px;
    width: 100%;
   
    
}*/

.goal-icon {
    border-right: 3px solid #222;
    grid-area: info-icon;
    color: white;
    font-size: small;
    background-color: rgb(26, 0, 43);
    text-transform:capitalize;
    text-align: center;
    margin-bottom: 3px;
}

.rocket-info {
    grid-area: info;
    padding-left: 5px;
    height: 40px;
    padding-bottom: 3px;
}

/*.rocket-info {
    grid-column: span 3;
    font-size: 0.9em;
}*/

.stats-wrapper {
    grid-area: stat;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
    background-color: #222;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.stat-icon,
.stat-value {
    max-height: 35px;
    border-right: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-icon img {
    max-height: 100%;
    width: auto;
}

.stat-value {
    max-height: 30px;
    font-weight:400;
    font-size: 1em;
}

.bottom-right {
    border-bottom-right-radius: 10px;
}

.bottom-left {
    border-bottom-left-radius: 10px;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    margin-top: 10px;
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(19, 0, 39);
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    text-decoration: underline;
}